body {
	 margin: 10px;
	 padding: 2px;
}

header {
    background-image: url("../images/flywheel.jpg");
	 background-repeat: no-repeat;
	 background-size: cover;
    background-color: #000000; /* what color? */
    padding: 20px;	  
}

nav a {
    display: inline-block;
	 border-radius: 5px;
	 text-decoration: none;
	 margin: 5px 10px;
	 padding: 20px;
	 width: 15%;
	 height: 30%;
	 background-color: rgba(255, 255, 224, 0.3);
	 text-align: center;
	 color: #000000;
}

.active {
	 background-color: #ffffff;
	 color: #0000FF;
}

.left{
	 color: #000000;
	 background: #5e7530;  
	 display: inline-block;
	 
	 width: 250px;
	 padding: 5px;
	 margin: 5px;
}

.right {
	 float: right;
	 display: inline-block;
	 width: calc(100% - 270px);
}

h1 {
    color: #FFFFFF;
	 font-size: 210%;
	 text-transform: uppercase;
	 text-align: center;
}

aside img {
	 display: inline-block;
	 width: 200px;
	 padding: 20px;
	 margin: 10px;
}

/*

wave and webaim to evaluate accessibility eg contrast

proper standards
 points off if shove everything in

submit - can say only looks good on a large screen eg not on mobile.  mobule is another thing.
*/
